extends layout

block content

  section#section
    .section
      .services-details
        .container
          .row
            .col-xs-12
              .heading
                span #{lang.about.about}
                h3 #{lang.about.us}
            .col-xs-12
              .logistics
                .banner.service-banner.spacetop
                  .banner-image-plane-about.parallax
                h4 #{lang.layout.about} 
                p #{lang.about.text}

      .query
        .container
          .row
            .col-xs-12.col-sm-10
              h5 #{lang.index.doubts}
              p #{lang.index.weCanHelp}
            .col-xs-12.col-sm-2
              a.contact-us.button(href='contact-us.html') #{lang.index.contactUs}
