extends layout

block content
  .bannercontainer.spacetop
    .banner
      ul
        li(data-transition='random', data-slotamount='1')
          img(src='img/paradise/gallery/full/11.jpg', alt='Banner', class='rev_slider')
          .banner-text.hidden-xs
            .caption.sfb.big_orange.clearfix(data-x='100', data-y='350', data-speed='500', data-start='1900', data-easing='Power4.easeInOut')
              h2(style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;") #{lang.index.banner} 
            .caption.lfr.medium_grey(data-x='left', data-y='center', data-speed='300', data-start='2000')
              a.services-link(href='/services', style="width: 18rem") #{lang.index.ourServices}  

  section#section
    .section
      .services
        .container
          .row
            .col-xs-12
              .heading
                span #{lang.index.transportServices} 
                h2 #{lang.index.ourServices} 
          #services-slides.services-slider
            .slides-tab.zoom
              figure
                a(href='/services')
                  img(src='img/paradise/services1.jpg', alt='Accesible')
              .slides-text
                h4
                  a(href='/services') #{lang.index.serviceOne.name} 
                p #{lang.index.serviceOne.description} 
                a.read-more(href='/services') #{lang.index.readMore} 
                  span >
            .slides-tab.zoom
              figure
                a(href='/services')
                  img(src='img/paradise/0.jpg', alt='Turistico')
              .slides-text
                h4
                  a(href='/services') #{lang.index.serviceTwo.name} 
                p #{lang.index.serviceTwo.description} 
                a.read-more(href='/services') #{lang.index.readMore} 
                  span >
            .slides-tab.zoom
              figure
                a(href='/services')
                  img(src='img/paradise/nacionales.jpg', alt='Nacionales')
              .slides-text
                h4
                  a(href='/services') #{lang.index.serviceThree.name} 
                p #{lang.index.serviceThree.description} 
                a.read-more(href='/services') #{lang.index.readMore} 
                  span >
            
      .features
        .container
          .row
            .col-xs-12.col-sm-4
              .features-text
                .heading
                  span #{lang.index.features} 
                  h3 #{lang.index.offer.name} 
                p #{lang.index.offer.description} 
                a.services-link.button(href='/services') #{lang.index.ourServices} 
            .col-xs-12.col-sm-8.custom-padding
              .row
                .col-xs-12.col-sm-6
                  .features-tab
                    i.fa.fa-certificate.fa-4x
                    .tab-text
                      h5 #{lang.index.featureOne} 
                .col-xs-12.col-sm-6
                  .features-tab
                    i.fa.fa-wheelchair.fa-4x
                    .tab-text
                      h5 #{lang.index.featureTwo} 
                .col-xs-12.col-sm-6
                  .features-tab
                    i.fa.fa-car.fa-4x
                    .tab-text
                      h5 #{lang.index.featureThree} 
                .col-xs-12.col-sm-6
                  .features-tab
                    i.fa.fa-user.fa-4x
                    .tab-text
                      h5 #{lang.index.featureFour} 
      
      .about
        .figure.parallax
        .transport-king
          .about-us
            .description
              .heading
                span #{lang.index.aboutUs.title} 
                h3 #{lang.index.aboutUs.company}
              p #{lang.index.aboutUs.description}
          .testimonial-section
            blockquote.custom-blockquote
              .spanish
                p #{lang.index.mission}
              footer.mission
                h5 #{lang.index.ourMission}
                span #{lang.index.ceoMessage}
      
      .testimonial
        .container
          .row
            .col-xs-12.center
              .heading
                span #{lang.index.people}
                h2 #{lang.index.testimony}
              .design-line
                span.design
          #testimonial-text.testimonial-text
            .feedback
              blockquote.custom-quote
                span.fa.fa-quote-left.custom-fa
                p #{lang.index.firstTestimony.title}
                footer
                  h6 #{lang.index.firstTestimony.name}
                    span #{lang.index.firstTestimony.career}
            .feedback
              blockquote.custom-quote
                span.fa.fa-quote-left.custom-fa
                p #{lang.index.secondTestimony.title}
                footer
                  h6 #{lang.index.secondTestimony.name}
                    span #{lang.index.secondTestimony.career}
      
      .query
        .container
          .row
            .col-xs-12.col-sm-10
              h5 #{lang.index.doubts}
              p #{lang.index.weCanHelp}
            .col-xs-12.col-sm-2
              a.contact-us.button(href='contact-us.html') #{lang.index.contactUs}
