doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title Paradise Tours
    block css
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Karla:400,700italic,700,400italic')
      link(href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900', rel='stylesheet', type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Karla:400,700italic,700,400italic', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='css/font-awesome.min.css')
      link(rel='stylesheet', href='css/bootstrap.css')
      link(rel='stylesheet', href='rs-plugin/css/settings.css', media='screen')
      link(rel='stylesheet', href='css/dropdown.css')
      link(rel='stylesheet', href='css/owl.carousel.css')
      link(rel='stylesheet', href='css/global.css')
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='css/responsive.css')
      link(rel='stylesheet', href="css/lg/lightgallery.css")
      link(rel='stylesheet/less', href='css/skin.less')

  body(ng-app="mainApp", ng-controller="mainController")
    .loader-block
      .loader

    div#wrapper.homepage.homepage-1
      header#header.header
        .primary-header
          .container
            .row
              .col-xs-12.col-sm-6.hidden-xs
                .mail
                  img(src='img/icon-mail.png' alt='mail')
                  span #{lang.layout.email}:
                    a(href='mailto:dspa29@hotmail.com') dspa29@hotmail.com
              .col-xs-12.col-sm-6.hidden-xs
                .social-wrap.clearfix
                  a.request(ng-href='#', ng-click="changeLang()") {{fullLang}}
                  ul.social
                    li
                      a(href="https://www.facebook.com/Paradise-TOURS-Transportations-110557222612729/", target="_blank")
                        i.fa.fa-facebook

        .main-header
          .container
            .row
              .col-xs-12.hidden-xs
                .call-us
                  ul
                    li
                      img(src='img/iphone.png', alt='Phone')
                      span.transport #{lang.layout.call.first}
                        span #{lang.layout.call.second}
                    li
                      a(href='#') #{lang.layout.phoneNumber}
              .col-xs-12.col-sm-3
                a.logo(ng-href='/?lang={{lang}}')
                  img.img-logo(src='img/paradise/logo1.png', alt='Logo')
              .col-xs-12.col-sm-9.custom-nav
                nav
                  #cssmenu
                    ul.navigation
                      li
                        a(ng-href='/?lang={{lang}}') #{lang.layout.home}
                      li
                        a(ng-href='/services?lang={{lang}}') #{lang.layout.services}
                      li
                        a(ng-href='/gallery?lang={{lang}}') #{lang.layout.gallery}
                      li
                        a(ng-href='/about?lang={{lang}}') #{lang.layout.about}
                      li
                        a(ng-href='/contact?lang={{lang}}') #{lang.layout.contact}
                .nav-icon
                  span
                  span
                  span

    block content

  footer#footer
    .footer.clearfix
      .container
        .row
          .col-xs-12.col-sm-4
            .quick-links
              h5 #{lang.layout.quick}
            .quick-list
              ul
                li
                  a(ng-href='/?lang={{lang}}') #{lang.layout.home}
                li
                  a(ng-href='/services?lang={{lang}}') #{lang.layout.services}
                li
                  a(ng-href='/gallery?lang={{lang}}') #{lang.layout.gallery}
            .quick-list
              ul
                li
                  a(ng-href='/about?lang={{lang}}') #{lang.layout.about}
                li
                  a(ng-href='/contact?lang={{lang}}') #{lang.layout.contact}
          .col-xs-12.col-sm-4
            .our-address
              h5 #{lang.layout.contact}
              .address
                h6 Paradise Tours
                address #{lang.layout.address}
                .phone
                  span
                    | #{lang.layout.phone} :
                    a(href='#') #{lang.layout.phoneNumber}
                  span
                    | #{lang.layout.email} :
                    a(href='mail') dspa29@hotmail.com
        .row.custom-row
          .col-xs-12.col-sm-5
            .copyright
              span
                | Copyright 2015. All Rights Reserved by
                a(href='/')  Paradise Tours.

    block js
      script(type="text/javascript", src="js/jquery-1.11.3.min.js")
      script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js")
      script(type="text/javascript", src="js/less.js")
      script(type="text/javascript", src="js/owl.carousel.js")
      script(type="text/javascript", src="js/jquery.selectbox-0.2.min.js")
      script(type="text/javascript", src="js/parallax.js")
      script(type="text/javascript", src="js/jquery.themepunch.tools.min.js")
      script(type="text/javascript", src="js/jquery.themepunch.revolution.min.js")
      script(type="text/javascript", src="js/revolution.js")
      script(type="text/javascript", src="js/script.js")
      script(type="text/javascript", src="js/site.js")
      script(type="text/javascript", src="lg/js/lightgallery.js")
      script(type="text/javascript", src="lg/js/lg-thumbnail.js")
      script(type="text/javascript", src="lg/js/lg-fullscreen.js")
      script(type="text/javascript", src="js/main.js")
      script(type="text/javascript", src="controller/app.js")
      script(type="text/javascript", src="controller/main.js")
      script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB1nc6jXIzgEIBH4KbjeN95p1B4wR-bLpg&callback=initMap')